POSTGRES_DB=mydb
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypass

PGADMIN_DEFAULT_EMAIL="postgres@postgres.com"
PGADMIN_DEFAULT_PASSWORD="postgres"

DATABASE_URL_DOCKER=postgres://myuser:mypass@postgres:5432/mydb

GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

CACHE_PROVIDER=redis
REDIS_URL=redis://redis:6379
METRICS_ENABLED=true

