# Base URL for the LinkedArtifacts API
# - Local API: http://localhost:4000
# - Remote API: https://linked-artifacts.duckdns.org
# - Standalone Mock API: Leave unset or point to http://localhost:3000/api
NEXT_PUBLIC_API_BASE=http://localhost:4000

